@import url('https://fonts.googleapis.com/css?family=Baloo+Da|Roboto');

body {
background: #5F1C1C;
height: 100vh;
font-family: 'Roboto', sans-serif;
text-align: center;
}

.game-container {
  width: 90%;
  padding-top: 10px;
}

.quiz-body {
  background: rgba(255,255,225,1);
  margin: 150px 33%;
  padding: 10px 20px 50px 20px;
  -webkit-box-shadow: 4px 4px 11px 3px rgba(0,0,0,0.3);
  -moz-box-shadow: 4px 4px 11px 3px rgba(0,0,0,0.3);
  box-shadow: 4px 4px 11px 3px rgba(0,0,0,0.3);
}

h1 {
  color: #611BBD;
  font-family: 'Baloo Da';
  font-weight: 900;
  text-align: center;
  font-size: 48px;
  margin: 0;
}

.question {
  color: rgba(0,0,0,0.9);
  z-index: 1;
}
.celebrate {
  background: yellow;
}

.wrong {
  background: green;
}
